.box{
    border: 1px solid black;
    padding: 34px;
    box-shadow: 5px 5px 15px 10px rgba(214, 1, 1, 0.772) ;
}
p{
    text-shadow: 5px 5px 10px #312a2a;
    outline: 2px solid black;
    border: 2px solid green;
}