.container {
  background-color: black;
  height: 50vh;
  width: 40vw;
}
.box {
  background-color: red;
  height: 5vh;
  width: 4vw;
  /* transition-property: transform;
  transition-duration: 3s;
  transition-timing-function: ease;
  transition-delay: 1s; */
  transition: transform 3s ease-in-out 1s;
}
.translate {
  transform: translateX(10vw) translateY(10vh);
}
