.container {
  border: 2px solid black;
  background-color: rgb(3, 223, 51);
  width: 50vw;
  height: 60vh;
}
.box {
  border: 2px solid red;
  background-color: #ff00d9;
  width: 35px;
  height: 56px;
  animation: Dinesh;
  animation-delay: 3s;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes Dinesh {
  from {
    background-color: #dc2104;
  }
  to {
    background-color: #b50caa;
    transform: translatex(1000px);
  }
}
