@import url("https://fonts.googleapis.com/css2?family=Butcherman&display=swap");

body {
  background-color: green;
  color: white;
  font-family: "Butcherman", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}
