*{
    margin: 0;
    padding: 0;
}
.box{
    border: 2px solid black;
    height: 100px;
    width: 80vw;
    padding: 3px;
    margin: 3px;
}
.box1{
    background-color: aquamarine;
}
.box2{
    background-color: blueviolet;
}
