.container {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 4px;
  row-gap: 10px;
}

.item1 {
  flex-grow: 1;
  border: 1px solid red;
  height: 98px;
  width: 98px;
  /* margin: 6px; */
  background-color: blueviolet;
}
.item {
  border: 1px solid red;
  height: 98px;
  width: 98px;
  /* margin: 6px; */
  background-color: blueviolet;
}
