.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border: 2px solid black;
}
