* {
  margin: 0;
  padding: 0;
}
.card {
  border: 2px solid black;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  margin: 34px;
}
.image {
  margin-top: 15px;
  margin-bottom: 20px;
}
.image img {
  /* border: 1px solid black; */
  border-radius: 10px;
  height: 250px;
  width: 250px;
}
.button span {
  border: 1px solid rgba(107, 94, 94, 0.306);
  color: rgba(0, 0, 0, 0.694);
  border-radius: 40px;
  padding: 0 10px;
  margin-left: 5px;
  margin-bottom: 20px;
}
.content{
    height: 100%;
    width: 40vw;
}